<! DOCTYPE html>
<html lang="pt">
	<head>
		{% load staticfiles %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'estoque/css/bootstrap.min.css' %}" type = "text/css"/>
		<link rel="stylesheet" href="{% static 'estoque/css/datatables.min.css' %}" type = "text/css"/>
		<link rel="stylesheet" href="{% static 'estoque/css/main.css' %}" type = "text/css"/>
		
		<title>Estoque</title>
	</head>

	<body>

		{% block content %}
		{% endblock %}	
		
		<script src="{% static 'estoque/js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'estoque/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'estoque/js/datatables.min.js' %}"></script>
		<script>
			$(document).ready(function(){
				$('.estoqueDatatable').DataTable();
			});
		</script>
	</body>
</html>