<! DOCTYPE html>
<html lang="pt">
	<head>
		{% load staticfiles %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'estoque/css/bootstrap.min.css' %}" type = "text/css"/>
		<link rel="stylesheet" href="{% static 'estoque/css/datatables.min.css' %}" type = "text/css"/>
		<link rel="stylesheet" href="{% static 'estoque/css/main.css' %}" type = "text/css"/>
		
		<title>Estoque</title>
	</head>

	<body>
		
		<!-- START Bootstrap Navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{%url 'home'%}">Estoque</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					{%if user.is_authenticated%}
						<li class="active"><a href="{%url 'logout'%}">Logout <span class="sr-only">(current)</span></a></li>
					{%endif%}
				</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<!-- END Bootstrap Navbar -->

		{% include "estoque/includes/mensagens.html" %}

		{% block content %}
		{% endblock %}
		
		<script src="{% static 'estoque/js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'estoque/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'estoque/js/datatables.min.js' %}"></script>
		<script>
			$(document).ready(function(){
				$('.estoqueDatatable').DataTable();
			});
		</script>
	</body>
</html>