{% extends "estoque/application.html" %} 
{% block content %} 

<h2 class="table-title" id="listagem-title">Histórico de Compras</h2>

<table class="estoqueDatatable" data-page-length='25'>
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Quantidade de compra</th>
            <th>Preço total</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for compra in compra_list %}
        <tr>
            <td> {{compra.produto}} </td>
            <td> {{compra.quantidade}} </td>
            <td> R$ {{compra.valor}} </td>
            <td> <a href="{% url 'compra'%}{{compra.id}}" >Editar</a> </td>
            <td> <a class='delete' href="/deletar_compra/{{compra.id}}"> Deletar </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{%url 'home'%}"><li id="voltar-listagem">Voltar</li></a>
{% endblock %}