{% extends "estoque/application.html" %} 
{% block content %} 

<h2>Administrando Produtos</h2>

<table class="estoqueDatatable">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Estoque</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produto_list %}
        <tr>
            <td>{{produto.nome}}</td>
            <td>
                {%if produto.estoque%}
                    {{produto.estoque}}
                {%else%}
                    0
                {%endif%}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="/produtos/" method="post">
    {{ form }}
    {% csrf_token %}
    <input type="submit" value="Adicionar novo produto" />
</form>

<a href="{%url 'home'%}">Voltar</a>
{% endblock %}