{% extends "estoque/application.html" %} 
{% block content %} 

<h2>Administrando Produtos</h2>

<table class="estoqueDatatable">
    <thead>
        <tr>
            <th>Nome do Produto</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produto_list %}
        <tr>
            <td><a href="/produto/{{produto.id}}">{{produto.nome}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="/produtos/" method="post">
    {{ form }}
    {% csrf_token %}
    <input type="submit" value="Adicionar novo produto" />
</form>

<a href="{%url 'home'%}">Voltar</a>
{% endblock %}